<!DOCTYPE html>
<html lang="es"></html>
<html>
<head>
    <title> Celulares</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/master.css"/>
    
</head>
<body style= "background-color:dimgrey" >
   
    <!-- //esto es lo que se va a mostrar/* -->
<header>
        <div class="encabezado">
        <div class="logo">
           <a href="/"> <img src = "img/WhatsApp Image 2023-10-17 at 1.31.03 PM.jpeg" width="150px" alt="Logo de ShortCircuit"> </a>
        </div>
        <nav class="barraNavegacionLista">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Bocinas y Auriculares</a></li>
                <li><a href="#">Cargadores</a></li>
                <li><a href="#">Reloj</a></li>
            </ul>
        </nav>
    
    </header> 
</section>

<section class="produtos">
    <article class="produtos">
        <img src = "images/img-cafetera-moulinex.jpg" width="300px">
    <h2 class="cafetera">Cafetera Moulinex</h2>
    <p class="precioCafetera"><b>Precio:</b>$6.770</p>
    <p class="ofertaCafetera"><b>Oferta de Descuento:</b>40% OFF<br></p>
    <button class="comprarCafetera"><a href=""> <b>Comprar</b> </a></button>
    </article>
</section>

<section class="produto2">
    <article class="produto2">
        <img src="images/img-macbook-pro-2019.jpg" width="300px">
    <h2 class="Macbook">Macbook Pro 2019</h2>
    <p class="precioMacbook"><b>Precio:</b>$230.000</p>
    <p class="ofertaMacbook"><b>Oferta de Descuento:</b>20% off</p>
    <button class="comprarMcBook"><a href=""> <b>Comprar</b> </a></button>
    </article>
</section>

<section class="produto3">
    <article class="produto3">
        <img src="images/img-samsung-galaxy-s10.jpg" width="300px">
    <h2 class="Samsung">Samsung Galaxy S10</h2>
    <p class="precioSamsung"><b>Precio:</b>$70.500</p>
    <p class="ofertaSamsung"><b>Oferta de Descuento:</b> 10% off</p>
|   </article>
</section>

<img src="images/img-tv-samsung-smart.jpg" width="300px">
<h2>SmartTv Samsung 43"</h2>
<p><b>Precio:</b>$23.200<br>
<b>Oferta de Descuento:</b> 5% off <br>
</p>   

</body>
</html>
