<!DOCTYPE html>
<html lang="es"></html>
<html>
<head>
        <title> ShortCircuit-Home </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
/*jhh/*
        <link rel="stylesheet" href="css/master.css"/>
        <script>
            function barraNavegacionn(value){
                if (value) { 
                    window.location.href = value;
                }
            }
        </script>
        
</head>
<body style= "background-color:dimgrey" >
   
        <!-- //esto es lo que se va a mostrar/* -->
    <header>
            <div class="encabezado">
            <div class="logo">
                <img src = "img/WhatsApp Image 2023-10-17 at 1.31.03 PM.jpeg" width="190px" height="200px" alt="Logo de ShortCircuit"> 
            </div>
            <nav class="barraNavegacion">
                <select class="barraNavegacionLista"  onchange="barraNavegacionn(value)">
          <!--//consultar porque no sale el link que dirige a cada pagina de la respectiva lista-->  
                    <option><li><p>Menú</p></li></option>
                   <option value="/celulares" > <a href="/celulares">Celulares</a></option>
                   <option value="#"> <a href="#">Accesorios</a></option>
                   <option value="#"> <li><a href="#">Bocinas y Auriculares</a></li></option>
                   <option value="#"> <li><a href="#">Cargadores</a></li></option>
                   <option value="#"> <li><a href="#">Reloj</a></li></option>
                </select>
            </nav>
        
        </header>                                                       
        <form method="post">
            <div class="boton"><b><input type="text" placeholder ="Ingrese su busqueda"><button>buscar</button></b>
            
                <ul id="listado1">
                        <li> <a href="file:///C:/Users/andre/OneDrive/Desktop/practicasJS/clase17/src/views/ofertas.html", target = "_blank"> Ofertas</a> </li>
                        <li> <a href="https://listado.mercadolibre.com.pa/listado-tienda-online?internal_referrer=true&matt_tool=6170365&matt_word=SEARCH" > Tiendas Oficiales</a></li>
                        <li> <a href="https://www.mercadolibre.com.pa/" > Vender</a></li>
                        <li> <a href="https://www.mercadolibre.com.pa/ayuda#nav-header" > Ayuda</a> </li>
                </ul>
           
        </div> 
        </form>

    
            <h1 class="titulo">Short Circuit Store </h1>
            <h3 class="subtitulo">Connecting to the next level </h3>
         
            <nav class="listado2">
                <ul>
                        <li><a href="/crearCuenta">Crear cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/ingresa">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/misCompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
        </nav>   
        
        <section class="banner">
            <article class="bannerPromocion">
                <a href="/celulares"><img src = "img/bannerPromocion.jpg" alt="Banner de promocion" width="100%" height="170px"></a>
            <div class="bannerTitulo"><p>Artículos en promoción Valido del 15 de diciembre al 30 de diciembre</p></div>
        </section>
      
<!--esto son los celulares o productos en ofertas-->
        <section class="producto1">
            <article class="productosOferta">
                <img src = "img/samsumg/samsungA54.jpeg" alt="Foto de SamsungA54" width="200px" height="300px">
                <i class="fas fa-truck"></i>
            <h2 class="parrafoCelular" style="color:maroon; font-family: Arial, Helvetica, sans-serif; ">Samsung Galaxy A54</h2>
            <p class="precioCelular"><b>Precio:</b> $306.00</p>
            <h3 class="ofertaCelular"><b>Oferta de Descuento:</b> 30% OFF<br></h3>>
            <button class="comprarCelular"><a href="/misCompras"> <b>Comprar</b> </a></button>
            </article>
        
        
            <article class="productosOferta">
                <img src="img/Honor/honor padx8.jpeg" width="200px" height="300px">
            <h2 class="parrafoCelular" style="color:maroon; font-family: Arial, Helvetica, sans-serif;">Honor Ipad X8</h2>
            <p class="precioCelular"><b>Precio:</b>$230.00</p>
            <h3 class="ofertaCelular"><b>Oferta de Descuento:</b> 20% off</h3>
            <button class="comprarCelular"><a href="/misCompras"> <b>Comprar</b> </a></button>
            </article>
       
        
            <article class="productosOferta">
                <img src="img/Redmi/Redmi A2.jpeg" width="200px" height="300px">
            <h2 class="parrafoCelular" style="color:maroon; font-family: Arial, Helvetica, sans-serif;">Redmi A2</h2>
            <p class="precioCelular"><b>Precio:</b>$210.00</p>
            <h3 class="ofertaCelular"><b>Oferta de Descuento:</b> 10% off</h3>
            <button class="comprarCelular"><a href="/misCompras"><b>Comprar</b></a></button>
        |   </article>

        
            <article class="productosOferta">
                <img src="img/samsumg/samsungs22.jpeg" width="200px" height="300px">
            <h2 class="parrafoCelular" style="color:maroon; font-family: Arial, Helvetica, sans-serif;">Samsung Galaxy S22</h2>
            <p class="precioCelular"><b>Precio:</b>$610.00</p>
            <h3 class="ofertaCelular"><b>Oferta de Descuento:</b> 15% off</h3>
            <button class="comprarCelular"><a href="/misCompras"><b>Comprar</b></a></button>
        |   </article>
        

       
            <article class="productosOferta">
                <img src="img/tecno/Tecno 8pro.jpeg" width="200px" height="300px">
            <h2 class="parrafoCelular" style="color:maroon; font-family: Arial, Helvetica, sans-serif;">Tecno 8 Pro</h2>
            <p class="precioCelular"><b>Precio:</b>$379.99</p>
            <h3 class="ofertaCelular"><b>Oferta de Descuento:</b> 10% off</h3>
            <button class="comprarCelular"><a href="/misCompras"><b>Comprar</b></a></button>
        |   </article>
        </section>

        <section>
                <div class="gamaAlta"></div>
                <h1 class="gamaAlta">Tecnología de más alta gama</h1>
        </section>
         
 

   
    <footer class="pieDePagina">
          <div class="logo">
           <img src = "img/WhatsApp Image 2023-10-17 at 1.31.03 PM.jpeg" width="190px" height="200px" alt="Logo de ShortCircuit"> 
        <section>
        <p class="sobreNosotros"><a href="/misCompras"><b>Sobre Nosotros</b></a></p>
        <p class="politicaDePrivacidad"><a href="/politicaDePrivacidad" target="_blank"><b>Politica de Privacidad</b></a></p>
   <p><i><small>para poder estar mas actulizado sobre la tendencia de nuestro produto siguenos en nuestro <b></b> <a href="https://www.instagram.com/tumercadolibrepanama/?hl=es-la"  target="_blank"> Instagram</a><b></b></a></small></i></p>
        </section>
    </footer>
</body>
</html>




