<!DOCTYPE html>
<html lang="es"></html>
<html>
<head>
        <title> ShortCircuit-Home </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/master.css"/>
        
</head>
<body style= "background-color:dimgrey" >
   
        <!-- //esto es lo que se va a mostrar/* -->
    <header>
            <div class="encabezado">
            <div class="logo">
                <img src = "images/WhatsApp Image 2023-10-17 at 1.31.03 PM.jpeg" width="160px" alt="Logo de ShortCircuit"> 
            </div>
            <nav class="barraNavegacion">
                <select><ul>
          <!--//consultar porque no sale el link que dirige a cada pagina de la respectiva lista-->   
                    <li><a href="/celulares"><option>Celulares</option></a></li>
                   <option> <li><a href="#">Accesorios</a></li></option>
                   <option> <li><a href="#">Bocinas y Auriculares</a></li></option>
                   <option> <li><a href="#">Cargadores</a></li></option>
                   <option> <li><a href="#">Reloj</a></li></option>
                </ul></select>
            </nav>
        
        </header>                                                       
        <form method="post">
            <div class="boton"><b><input type="text" placeholder ="Ingrese su busqueda"><button>buscar</button></b></div> 
        </form>

    
            <h1 class="titulo">Short Circuit Store </h1>
            <h3 class="subtitulo">Connecting to the next level </h3>
         
            <nav class="listado">
                <ul>
                        <li> <a href="file:///C:/Users/andre/OneDrive/Desktop/practicasJS/clase17/src/views/ofertas.html", target = "_blank"> Ofertas</a> </li>
                        <li> <a href="https://listado.mercadolibre.com.pa/listado-tienda-online?internal_referrer=true&matt_tool=6170365&matt_word=SEARCH" > Tiendas Oficiales</a> </li>
                        <li> <a href="https://www.mercadolibre.com.pa/" > Vender</a> </li>
                        <li> <a href="https://www.mercadolibre.com.pa/ayuda#nav-header" > Ayuda</a> </li>
                        <br>
                        <li><a href="/crearCuenta">Crear cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/ingresa">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/misCompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
        </nav>   
        
        <section class="banner">
            <h3 class="banner">Artículos en Promoción</h3>
        </section>
      

        <section class="produto1">
            <article class="produto1">
                <img src = "../images/samsumg/WhatsApp Image 2023-10-17 at 12.53.31 PM (1).jpeg" width="300px">
                <i class="fas fa-truck"></i>
            <h2 class="samsung1" style="color:gold; font-family: Arial, Helvetica, sans-serif; ">Samsung Galaxy A54</h2>
            <p class="precioSamsung1"><b>Precio:</b>$306.00</p>
            <p class="ofertaSamsung1"><b>Oferta de Descuento:</b>30% OFF<br></p>
            <button class="comprarSamsung1"><a href=""> <b>Comprar</b> </a></button>
            </article>
        </section>
        
        <section class="produto2">
            <article class="produto2">
                <img src="../images/Honor/WhatsApp Image 2023-10-17 at 12.53.33 PM (1).jpeg" width="300px">
            <h2 class="Macbook" style="color:gold; font-family: Arial, Helvetica, sans-serif;">Honor Ipad X8</h2>
            <p class="precioHonorIpadX8"><b>Precio:</b>$230.000</p>
            <p class="ofertaHonorIpadX8"><b>Oferta de Descuento:</b>20% off</p>
            <button class="comprarHonorIpadX8"><a href=""> <b>Comprar</b> </a></button>
            </article>
        </section>
        <br>
        <br>
        <section class="produto3">
            <article class="produto3">
                <img src="images/img-samsung-galaxy-s10.jpg" width="300px">
            <h2 class="Samsung">Samsung Galaxy S10</h2>
            <p class="precioSamsung"><b>Precio:</b>$70.500</p>
            <p class="ofertaSamsung"><b>Oferta de Descuento:</b> 10% off</p>
        |   </article>
        </section>
         <br>
          <br>
<img src="images/img-tv-samsung-smart.jpg" width="300px">
 <h2>SmartTv Samsung 43"</h2>
<p><b>Precio:</b>$23.200<br>
<b>Oferta de Descuento:</b> 5% off <br>
 </p>   
<br>
<br>
   
<footer class="pieDePagina">

    <p><b>Historia de Mercado Libre:</b> Es un marketplace, es decir, un sitio de compra y venta que funciona como un centro comercial virtual.</p>
    <br>
   <p><i><small>para poder estar mas actulizado sobre la tendencia de nuestro produto siguenos en nuestro <b></b> <a href="https://www.instagram.com/tumercadolibrepanama/?hl=es-la"  target="_blank"> Instagram</a><b></b></a></small></i></p>
</footer>
</body>
</html>




